# Файлы python
*.pyc
__pycache__

# IDE и редакторы
.vscode
*.swp

# Файлы сборки пакета
/.pybuild
/debian/python3-bigur-fsm
/debian/.debhelper
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/files

# Файлы .egg-info
/bigur_fsm.egg-info

# Кеш mypy
/.mypy_cache

# Кеш pytest
/.pytest_cache
